<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <title>COP - Controle de Produção</title>
</head>

<body>

    <header class="info">
        <!--header info-->
        <div class="center">
            <!--center-->
            <div class="local">
                <!--local-->
                <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                <!--localization-->
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <!--whatsapp-->
                <b> Cascavel-PR | 45 9999-9999</b>
                <!--city and phone-->
            </div>
            <!--end local-->
        </div>
        <!--end center-->
    </header>
    <!--end info-->

    <header>
        <!--main menu-->
        <div class="center">
            <!--center-->
            <div class="logo">
                <!--logo-->
                <h2>COP</h2>
            </div>
            <!--end logo-->

            <div class="menu">
                <!--menu-->
                <a href="#">
                    Institucional
                </a>
                <a href="#">
                    Serviços
                </a>
                <a href="#">
                    Ajuda
                </a>
                <a href="#">
                    Contato
                </a>
                <a class="btn-menu" href="#">
                    Entrar
                </a>
            </div>
            <!--end menu-->
            <div class="mobile-menu">
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>
        <!--end center-->
    </header>
    <!--end main menu-->

    <section class="banner">
        <!--section banner-->
        <div class="slider">
            <!--slider-->
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <input type="radio" name="radio-btn" id="radio5">
                <input type="radio" name="radio-btn" id="radio6">

                <div class="slide first">
                    <img src="../img/1920x400.jpg" alt="img1">
                </div>
                <div class="slide">
                    <img src="../img/1920x400.jpg" alt="img2">
                </div>
                <div class="slide">
                    <img src="../img/1920x400.jpg" alt="img3">
                </div>
                <div class="slide">
                    <img src="../img/1920x400.jpg" alt="img4">
                </div>
                <div class="slide">
                    <img src="../img/1920x400.jpg" alt="img5">
                </div>
                <div class="slide">
                    <img src="../img/1920x400.jpg" alt="img6">
                </div>

                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                    <div class="auto-btn5"></div>
                    <div class="auto-btn6"></div>
                </div>
                <!--navigation-auto-->
            </div>
            <!--end slides-->
            <div class="manual-navigation">
                <!--manual-navigation-->
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
                <label for="radio5" class="manual-btn"></label>
                <label for="radio6" class="manual-btn"></label>
            </div>
            <!--end manual-navigation-->
        </div>
        <!--end slider-->
    </section>
    <!--end section banner-->

    <section class="main">
        <!--section main-->
        <div class="center">
            <!--center-->

            <div class="dif">
                <!--dif-->
                <div class="dif-single">
                    <!--dif-single-->
                    <i class="fa-solid fa-hourglass"></i>
                    <h2>Agilidade</h2>
                    <p>Tenha todos os dados importantes na palma da sua mão.</p>
                </div>
                <!--end dif-single-->
                <div class="dif-single">
                    <!--dif-single-->
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <h2>Produtividade</h2>
                    <p>Deixe de perder seu precioso tempo fazendo anotações e deixe tudo conosco.</p>
                </div>
                <!--end dif-single-->

                <div class="dif-single">
                    <!--dif-single-->
                    <i class="fa-solid fa-seedling"></i>
                    <h2>Facilidade</h2>
                    <p>Recolhemos os dados com os próprios produtores e deixamos tudo pronto para você.</p>
                </div>
                <!--end dif-single-->

            </div>
            <!--end dif-->

        </div>
        <!--end center-->
    </section>
    <!--end section main-->

    <footer>
        <!--footer-->

        <div class="container-footer">
            <!--container-footer-->
            <div class="row-footer">
                <!--row-footer-->
                <div class="footer-col">
                    <!--footer-col-->
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Nossos serviços</a></li>
                        <li><a href="#">Política de privacidade</a></li>
                        <li><a href="#">Programa de Afilidados</a></li>
                    </ul>
                </div>
                <!--end footer-col-->
                <div class="footer-col">
                    <!--footer-col-->
                    <h4>Obter Ajuda</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Tranporte</a></li>
                        <li><a href="#">Tranporte</a></li>
                        <li><a href="#">Tranporte</a></li>
                    </ul>
                </div>
                <!--end footer-col-->
                <div class="footer-col">
                    <!--footer-col-->
                    <h4>Obter Ajuda</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Tranporte</a></li>
                        <li><a href="#">Tranporte</a></li>
                        <li><a href="#">Tranporte</a></li>
                    </ul>
                </div>
                <!--end footer-col-->
                <div class="footer-col">
                    <!--footer-col-->
                    <h4>Midias Sociais</h4>
                    <div class="social-midia">
                        <!--social-midia-->
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <!--end social-midia-->
                </div>
                <!--end footer-col-->
            </div>
            <!--end row-footer-->
        </div>
        <!--end container-footer-->
    </footer>
    <!--end footer-->

    <script src="https://kit.fontawesome.com/648fff09ac.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>