<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="signup.css" />
    <script defer src="./login.js"></script>
    <title>COP - Controle de Produção</title>
</head>

<body>

    <header class="info">
        <!--header info-->
        <div class="center">
            <!--center-->
            <div class="local">
                <!--local-->
                <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                <!--localization-->
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <!--whatsapp-->
                <b> Cascavel-PR | 45 9999-9999</b>
                <!--city and phone-->
            </div>
            <!--end local-->
        </div>
        <!--end center-->
    </header>
    <!--end info-->

    <header>
        <!--main menu-->
        <div class="center">
            <!--center-->
            <div class="logo">
                <!--logo-->
                <h2>COP - Controle de Produção</h2>
            </div>
            <!--end logo-->

            <div class="menu">
                <!--menu-->
                <a href="#">
                    Institucional
                </a>
                <a href="#">
                    Serviços
                </a>
                <a href="#">
                    Ajuda
                </a>
                <a href="#">
                    Contato
                </a>
                <a class="btn-menu" href="#">
                    Entrar
                </a>
            </div>
            <!--end menu-->
            <div class="mobile-menu">
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>
        <!--end center-->
    </header>
    <!--end main menu-->

    <main class="signup">
        <!--signup-->
        <div class="signup__container">
            <h1 class="signup__title">Cadastrar</h1>
            <form class="signup__form">
                <input class="signup__input" type="name" placeholder="nome" />
                <span class="signup__input-border"></span>
                <input class="signup__input" type="email" placeholder="e-mail" />
                <span class="signup__input-border"></span>
                <input class="signup__input" type="password" placeholder="senha" />
                <span class="signup__input-border"></span>
                <input class="signup__input" type="password_confirm" placeholder="confirmar senha" />
                <span class="signup__input-border"></span>
                <button class="signup__submit">Cadastrar</button>
                <hr>
                <div class="login">
                    <p>Já possui uma conta?
                        <a href=""> Faça login. </a>
                    </p>
                </div>
            </form>
        </div>
    </main>
    <!--end login-->

    <footer>
        <!--footer-->

        <div class="container-footer">
            <!--container-footer-->
            <div class="row-footer">
                <!--row-footer-->
                <div class="footer-col">
                    <!--footer-col-->
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Nossos serviços</a></li>
                        <li><a href="#">Política de privacidade</a></li>
                        <li><a href="#">Programa de Afilidados</a></li>
                    </ul>
                </div>
                <!--end footer-col-->
                <div class="footer-col">
                    <!--footer-col-->
                    <h4>Obter Ajuda</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Tranporte</a></li>
                        <li><a href="#">Tranporte</a></li>
                        <li><a href="#">Tranporte</a></li>
                    </ul>
                </div>
                <!--end footer-col-->
                <div class="footer-col">
                    <!--footer-col-->
                    <h4>Obter Ajuda</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Tranporte</a></li>
                        <li><a href="#">Tranporte</a></li>
                        <li><a href="#">Tranporte</a></li>
                    </ul>
                </div>
                <!--end footer-col-->
                <div class="footer-col">
                    <!--footer-col-->
                    <h4>Midias Sociais</h4>
                    <div class="social-midia">
                        <!--social-midia-->
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <!--end social-midia-->
                </div>
                <!--end footer-col-->
            </div>
            <!--end row-footer-->
        </div>
        <!--end container-footer-->
    </footer>
    <!--end footer-->

    <script src="https://kit.fontawesome.com/648fff09ac.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>